<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>
        <h1>Failed</h1>
        <h5><%= errormsg.message %></h5>
        
        <%- include('partials/script') %> 
    </body>
</html>