<!DOCTYPE html>
<html lang="en">
    <body>
        <%- include('partials/nav') %>
           <link rel="stylesheet" href="/css/style.css">
        <div id="container">
            <div id="content-container">
              <h1>Hey,
                Foodies!</h1>
              <i><p>Create your own favourite food list.</p></i>
              <i><p>Capture your moment with your food, here!</p></i>
              <button><a href="/signup">Sign Up!</a></button>
            </div>
            <div id="bg-container">
              <svg>Click here to download svg element </svg>
            </div>
          </div>
            <h4><%= msg.msg %></h4>
        <%- include('partials/script') %> 
    </body>
</html>