<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>
        <h1>My Foodliv8</h1>
        <button class="btn btn-warning"><a href="/myfoodliv8/add"> Add Foodliv8 Journey Memory </a></button>
        
        <%- include('partials/script') %> 
    </body>
</html>