body {
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    background: url('/img/movieapp.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  h1, p {
      padding-top: 3rem;
      padding-bottom: 3rem;
      /* color: rgb(255, 255, 255); */
      /* -webkit-text-stroke-width: 0.5px; */
      /* -webkit-text-stroke-color: black; */
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  button a {
    color: aliceblue;
    text-decoration: none;
  }

.background-behind {
  position: fixed;
  margin: auto auto;
  width: 70%; 
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(205, 193, 193, 0.5);
  z-index: -1;
  border-radius: 1rem;
}

.bigger-text {
    font-weight: bold;
    font-size: 1.5rem;
}

.table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
    background-color: aliceblue;
}

 .mid {
    width: 50%;
    margin: 0px auto;
    float: none;
    padding-bottom: 15px;
 }

 .press {
     width: 10%;
 }

  .navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
  }

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}